version: '3.0.{build}'
image: Visual Studio 2019
branches:
  only:
  - master
init:
  # Good practise, because Windows line endings are different from Unix/Linux ones
  - cmd: git config --global core.autocrlf true
install:
  # Install repo specific stuff here
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
before_build:
  # Display .NET Core version
  - cmd: dotnet --version
  # Display minimal restore text
  - cmd: dotnet restore --verbosity m
build_script:
  # Package Blurk
  - cmd: dotnet build ./blurk/blurk.csproj --configuration=release
  - cmd: dotnet pack ./blurk/blurk.csproj --configuration=release
after_build:
  # For once the build has completed
artifacts:
 - path: '\Blurk\bin\release\*.nupkg'
   name: BlurkPackage
   type: NugetPackage
clone_depth: 1
test_script:
  # restore packages for our unit tests
  - cmd: dotnet restore --verbosity m
  # run the unit tests
  - cmd: dotnet test ./blurk.tests/blurk.tests.csproj
on_finish :
  # any cleanup in here
deploy: 
  provider: NuGet
  api_key: 
    secure: xYCj0+2nsXc/vzyxFdHbuU2i7XsBs3es/StlTJA29zX6h2dxltU5MAuIAb5ZuNih
  skip_symbols: true
  artifact: /.*\.nupkg/